### macOS
*.DS_Store

### PyCharm
.idea/

### Python
__pycache__/
*.py[cod]
*$py.class
env/

### Project specifics
bin/
.aws-sam/*
deployment_function/*
*.zip

**/.ipynb_checkpoints/*
**/catboost_info/*
data-collection/*
