catboost==0.22
cryptography==3.2
flake8==3.7.9
flake8-bugbear==20.1.4
flake8-builtins==1.4.2
flake8-debugger==3.2.1
flake8-isort==2.8.0
Flask==1.1.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.1
holidays==0.10.1
joblib==0.14.1
numpy==1.18.1
pandas==1.0.1
pre-commit==2.1.1
PyMySQL==0.9.3
requests==2.22.0
scikit-learn==0.22.1
selenium==3.141.0
